*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

a{
    color: white;
    text-decoration: none;
    border: 2px solid white;
    position: relative;
    padding: 2rem 5rem;
    overflow: hidden;
    transition: all 1s;
}

a:before{
    content: "DOWNLOAD";
    font-weight: bold;
    color: #000;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    transform: translateY(-100%);
    transition: all 1s;

    display: flex;
    justify-content: center;
    align-items: center;

}

a:hover:before{
    transform: translateY(0%);
}