*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    min-height: 100vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    position: relative;
    width: 100%;
    max-width: 400px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input{
    border: none;
    outline: none;
    width: 90%;
    padding: 10px 20px;
    font-size: 16px;
}

.eye-container{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-eye{
    font-size: 20px;
    color: #777;
    transition: 0.2s ease;
}

.fa-eye:hover{
    color: blue;
    cursor: pointer;

}

