*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

h1{
    font-size: 10rem;
    font-weight: bolder;
    background: url("https://t3.ftcdn.net/jpg/08/27/09/20/360_F_827092074_tUV40nTZFcjGT69jkS2EJErmYQ9HaDK6.jpg");
    background-clip: text;
    background-size: cover;
    color: transparent;
    -webkit-background-clip: text;
}